@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #D7E4C0;
    --cor-secundaria: #557445;
    --cor-terciaria: #BBC3A4;
    --cor-apagada: #B3A398;
    --cor-primaria-botao: #283b1e;
    --cor-secundaria-botao: #b1d67f;
    --cor-terciaria-botao: #d7e4c0;
    --base-font-size: 16px;
}

body {
    font-family: "Inter Tight", sans-serif;
    background-color: var(--cor-primaria);
    margin: 0;
    padding: 0;
    font-size: var(--base-font-size);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 0.625rem;
}

.logo {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--cor-secundaria);
    margin-bottom: 1.25rem;
}

main {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
}

/* sessão de inserção texto */

.input-section {
    padding: auto;
    flex: 1;
    width: 500px;
    margin-right: 10px;
}


#input-text {
    background-color: var(--cor-primaria);
    width: 600px;
    padding: 70px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.info {
    font-size: 0.8125rem;
    color: var(--cor-apagada);
    margin-left: 15rem;
}

/* botões */

.buttons {
    display: flex;
    gap: 1.25rem;
    justify-content: center;
    height: 3.125rem;
}

button {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.copiar-btn {
    background-color: var(--cor-terciaria);
    margin-top: 13.625rem;
    display: none;
    margin-left: 6.25rem;
}

#icons {
    height: 0.9375rem;
}

#criptografar-btn {
    background-color: var(--cor-primaria-botao);
    color: white;
    width: 12.5rem;
}

#descriptografar-btn {
    background-color: var(--cor-secundaria-botao);
    color: black;
    width: 12.5rem;
}

/* sessão do resultado de crip. ou descrip */

.output-section {
    display: initial;
    height: 37.5rem;
    width: 18.75rem;
    text-align: center;
    background-color: var(--cor-primaria-botao);
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.output-section p {
    color: var(--cor-primaria);
    margin: 0.625rem 0;
}

/* dimensões e responsividade pra diferentes aparelhos */

@media (max-width: 768px) {

    main {
        flex-direction: column;
        align-items: center;
        max-width: 20rem;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .buttons {
        display: flex;
        gap: 1.25rem;
        justify-content: center;
    }

    .input-section {
        padding: 0.5rem;
        width: 1rem;        
    }

    .output-section {
        margin-top: 3.125rem;
        width: 100%;
        padding: 0.5rem;
    }

    #input-text {
        padding: 1rem;
        font-size: 1rem;
        width: 20rem;
    }

    .info {
        margin-left: 0;
        text-align: center;
        margin-bottom: 0.3125rem;
    }

    .buttons {
        display: flex;
        justify-content: center;
        height: 3.125rem;
    }

    .copiar-btn {
        margin-top: 1.25rem;
        margin-left: 6.875rem;
    }
}

@media (max-width: 480px) {

    header {
        justify-content: center;
    }

    .logo {
        font-size: 1.75rem;
    }

    main {
        padding: 1rem;
    }

    .input-section {
        width: 100%;
        padding: 0.5rem;
    }

    .output-section {
        width: 100%;
    }

    #input-text {
        padding: 0.5rem;
        font-size: 1.125rem;
        width: 20rem;
    }

    .buttons {
        flex-direction: column;
        gap: 0.625rem;
        align-items: center;
        margin-left: 0.9375rem;
    }

    #criptografar-btn, #descriptografar-btn {
        width: 100%;
    }
}

@media (max-width: 1366px) {

    header {
        justify-content: center;
    }

    .logo {
        font-size: 1.75rem;
    }

    main {
        padding: 1rem;
    }

    .input-section {
        width: 100%;
        padding: 0.5rem;
    }

    .output-section {
        width: 100%;
    }

    .info {
        align-items: center;
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    #input-text {
        padding: 0.5rem;
        font-size: 1.125rem;
        width: 20rem;
    }

    .buttons {
        flex-direction: column;
        gap: 0.625rem;
        align-items: center;
        margin-left: 0.9375rem;
    }

    #criptografar-btn, #descriptografar-btn {
        width: 100%;
    }

    .copiar-btn {
        margin-left: 13rem;
    }

}